
h1{
    text-align: center;
    height: 100px;
    line-height: 100px;
    color: #ffffff;
}

h1.red{
    background-color: red;
}

h1.green{
    background-color: green;
}

h1.normal{
    background-color: blue;
}